<div class="category">
    <div class="ro whitebg w12">
     <% if(session.get("userrole") == geddy.model.Admin.userrole.super)
        { %>
        <div class="ce bluebg">
           <a href="/admins/list?issuper=true">高级管理员管理</a>
        </div>
     <% }
        if(session.get("userrole") == geddy.model.Admin.userrole.super || session.get("userrole") == geddy.model.Admin.userrole.senior)
        { %>
        <div class="ce greenbg">
           <a href="/admins/list">管理员管理</a>
        </div>
     <% }
        if(session.get("userrole") == geddy.model.Admin.userrole.super || session.get("userrole") == geddy.model.Admin.userrole.senior || session.get("userrole") == geddy.model.Admin.userrole.junior)
        { %>
        <div class="ce blackbg">
           <a href="/users/list">用户管理</a>
        </div>
     <% } %>
    </div>
</div>
