<div class="login">
    <div class="ro whitebg">
        <div class="ce w12">
            <div class="br1 left">
                <div class="userform">
                    <form class="signupform" action="/admins/login" method="post">
                        <div class="title">
                            <h3>管理员登录</h3>
                        </div>
                        <div class="itemslist">
                            <div class="item">
                                <input name="username" type="text" placeholder="用户名" maxlength="30" value="<%=admin.username %>"/>
                            </div>
                            <div class="item">
                                <input name="password" type="password" placeholder="密码" maxlength="30" />
                                <% if(admin.loginError) { %>
                                <span class="error"><%= admin.loginError %></span>
                                <%}%>
                            </div>
                            <div class="item checkboxitem cf">
                                <input name="autologin" id="autologin" type="checkbox" value="1" <%= !!admin.autologin ? "checked" : "" %> />
                                <label for="autologin">下次自动登录</label>
                            </div>
                            <% if(admin.redirecturl) { %>
                            <input name="redirecturl" type="hidden" value="<%= admin.redirecturl %>" />
                            <%}%>
                        </div>
                        <div class="submit">
                            <input class="loginsubmit submitBtn"  type="submit" value="立即登录" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>