<div class="users">
    <div class="ro whitebg">
        <div class="ce w12">
            <div class="br1 left">
                <div class="userlist">
                    <div class="title">
                        <h3>用户列表</h3>
                    </div>
                    <div class="list">
                        <ul>
                            <li class="item subtitle">
                                <ul class="infos cf">
                                    <li class="info username">用户名</li>
                                    <li class="info password">密码</li>
                                    <li class="info nickname">昵称</li>
                                </ul>
                            </li>

                    <% if (users) {
                          for(var i = 0, len = users.length; i < len; i++)
                          {
                    %>
                            <li class="item">
                                <a href="/users/show/<%= users[i].id %>">
                                    <ul class="infos cf">
                                        <li class="info username"><%= users[i].username %></li>
                                        <li class="info password"><%= users[i].password %></li>
                                        <li class="info nickname"><%= users[i].nickname %></li>
                                    </ul>
                                </a>
                            </li>
                    <%    }
                       }
                    %>

                        </ul>
                    </div>

                    <div class="createuser">
                        <a href="/users/signup">添加新用户</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>