<div class="signup">
    <div class="ro whitebg">
        <div class="ce w12">
            <div class="br1 left">
                <div class="form">
                    <form class="signupform" action="/users/signup" method="post">
                        <div class="itemslist">
                            <div class="item">
                               <input name="username" type="text" maxlength="30"/>
                            </div>
                            <div class="item">
                                <input name="password" type="password" maxlength="30"/>
                            </div>
                            <div class="item">
                                <input name="confirmpassword" type="password" maxlength="30"/>
                            </div>
                            <div class="item">
                                <input name="nickname" type="password" maxlength="30"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>