@color: #000;
@fontfamily: 'Microsoft Yahei',arial,sans-serif, '宋体';
@fontsize: 14px;
@lineheight: 18px;
@textalign: left;
@w12: 960px;

@anchorcolor: #000;
@blueanchorcolor: blue;
@whitecolor: #fff;
@greencolor: #008000;
@bluecolor: #0000FF;

@blackbg: #000;
@whitebg: #fff;
@bluebg: #00ABEC;
@redbg: #D20000;
@goldbg: #F06421;
@greenbg: #89C33F;
@greybg: #EEE;
