<div>
    <div class="ro whitebg">
        <div class="ce w12">
            <div class="br1 left">
                <div class="userform">
                    <iframe width="420" align="left" height="600" frameborder="0" scrolling="no" src="/games/minesweeper/index.htm"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>