<div class="win8">
    <div class="ro whitebg">
        <div class="ce w12">
            <div class="br1 left">
                <div class="applist">
                    <h2>Windows 应用商店游戏</h2>
                    <ul class="list cf">
                        <li><a target="_blank" href="http://apps.microsoft.com/windows/app/eacfcb5e-2a48-4f9e-966c-e807ca5cf160"><img src="/img/win8/snake.jpg" alt="蛇贪吃" /></a></li>
                        <li><a target="_blank" href="http://apps.microsoft.com/windows/app/gluttonous-snake/2769753d-9859-435b-bb97-061190131259"><img src="/img/win8/snake_en.jpg" alt="Gluttonous Snake" /></a></li>
                        <li class="last"><a target="_blank" href="http://apps.microsoft.com/windows/app/ac1db99d-b5a9-4dfb-9733-3b8026831dc5"><img src="/img/win8/welcomecard.jpg" alt="欢迎牌" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>