<div class="errorpage context unauthorizederror">
    <div class="ro whitebg">
        <div class="ce w12">
            <h2>是不是在做坏事？出错了: <%= statusCode %> <%= statusText %></h2>
            <% if(geddy.config.environment == 'development'){ %>
                <% if (message) { %>
                <div><%= message; %></div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>

