<div class="advice">
    <div class="ro whitebg">
        <div class="ce w12">
            <div class="br1 left">
                <div class="">
                    <h2>意见和建议</h2>
                    <form action="/xxx/xxx" method="post">
                        <div>
                            <textarea name="advice" maxlength="700" rows="10"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>