<div class="advice">
    <div class="ro whitebg">
        <div class="ce w12">
            <div class="br1 left">
                <div class="applist">
                    <h2>意见和建议</h2>
                    <ul class="list cf">
                        <li><a target="_blank" href="http://apps.microsoft.com/windows/app/eacfcb5e-2a48-4f9e-966c-e807ca5cf160"><img src="/img/win8/snake.jpg" alt="蛇贪吃" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>