<html>
<head>

</head>
<body>
<div>
    Hi <%= user.nickname %>
</div>
<div>here is your username and password</div>
<div>username: <%= user.username %></div>
<div>passowrd: <%= user.password %></div>
</body>
</html>