<div class="website">
    <div class="ro whitebg">
        <div class="ce w12">
            <div class="br1 left">
                <div>
                    <h2>In developing</h2>
                </div>
            </div>
        </div>
    </div>
</div>