.footer .list
{
  color: @whitecolor;
  padding: 50px 0;
  display: inline-block;
}

.footer a
{
  color: #fff;
}

.footer li.co
{
  width: 240px;
  float: left;
}

.footer .co .title
{
  font-weight: bold;
  padding-bottom: 20px;
}

.footer .co li
{
  padding-bottom: 10px;
  padding-right: 50px;
}