<div class="footer">
    <div class="ro blackbg">
        <div class="ce w12">
            <ul class="list cf">
                <li class="co">
                    <ul>
                        <li class="title"><span>首页</span></li>
                        <li><a href="/lives/index">首页</a></li>
                    </ul>
                </li>
                <li class="co">
                    <ul>
                        <li class="title"><span>休闲游戏</span></li>
                        <li><a href="/games/index">扫雷</a></li>
                    </ul>
                </li>
                <li class="co">
                    <ul>
                        <li class="title"><span>NBA</span></li>
                        <li><a href="/basketballs/index">NBA</a></li>
                    </ul>
                </li>
                <li class="co">
                    <ul>
                        <li class="title"><span>WIN8</span></li>
                        <li><a href="/win8/index">WIN8 游戏</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
