<div class="footer">
    <div class="ro blackbg">
        <div class="ce w12">
            <ul class="list cf">
                <li class="co">
                    <ul>
                        <li class="title"><span>我的生活</span></li>
                        <li><a href="#">生活1</a></li>
                        <li><a href="#">生活2</a></li>
                        <li><a href="#">生活3</a></li>
                    </ul>
                </li>
                <li class="co">
                    <ul>
                        <li class="title"><span>我的游戏</span></li>
                        <li><a href="#">游戏1</a></li>
                        <li><a href="#">游戏2</a></li>
                        <li><a href="#">游戏3</a></li>
                    </ul>
                </li>
                <li class="co">
                    <ul>
                        <li class="title"><span>我的NBA</span></li>
                        <li><a href="#">NBA 1</a></li>
                        <li><a href="#">NBA 2</a></li>
                        <li><a href="#">NBA 3</a></li>
                    </ul>
                </li>
                <li class="co">
                    <ul>
                        <li class="title"><span>我的WIN8</span></li>
                        <li><a href="#">WIN8 1</a></li>
                        <li><a href="#">WIN8 2</a></li>
                        <li><a href="#">WIN8 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
