<div class="header">
    <div class="ro bluebg">
        <div class="ce w12">
            <div class="br1 left">
                <a class="logo" href="http://www.tl.com"><img width="114" height="100" src="/img/logo.jpg" alt="TL"/></a>
            </div>
            <div class="br2 right">
                <ul class="cf">
                 <% if(session_obj.username.length > 0)
                    { %>
                    <li><span class="welcome">欢迎您, <%= session_obj.username %></span></li>
                    <li><a class="logout" href="/users/logout">登出</a></li>
                 <% }
                    else
                    { %>
                    <li><a class="login" href="/users/login">登录</a></li>
                    <li><a class="signup" href="/users/signup">注册</a></li>
                 <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
