<div class="menu">
    <div class="ro goldbg">
        <div class="ce w12">
            <div class="br1">
                <ul class="cf">
                    <li><a class="active" href="/lives/index">我的生活</a></li>
                    <li><a href="/games/index">我的游戏</a></li>
                    <li><a href="/basketballs/index">我的NBA</a></li>
                    <li><a href="/win8/index">我的WIN8</a></li>
                    <li><a href="/sites/index">网站定制</a></li>
                    <li><a href="/advices/index">意见与建议</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>