<div class="menu">
    <div class="ro goldbg">
        <div class="ce w12">
            <div class="br1">
                <ul class="cf">
            <% for (var i = 0, len = menu_data.data.length; i < len; i++ )
               {
                   if(menu_data.active_tab == menu_data.data[i].tab)
                   {
            %>
                    <li><a class="active" href="<%= menu_data.data[i].link %>"><%= menu_data.data[i].text %></a></li>
                <% }
                   else
                   { %>
                    <li><a href="<%= menu_data.data[i].link %>"><%= menu_data.data[i].text %></a></li>
            <%     }
               }
            %>
                </ul>
            </div>
        </div>
    </div>
</div>